@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
    font-weight: 100;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
        font-weight: 100;
    }
}

.title-txt {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.info-txt {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    text-decoration: none;
}

.info-txt a{
    text-decoration: none;
}

.iframe-content {
    height: 100vh;
}

.content-section {
    padding-top: 100px;
    height: 100vh;
}

.about-section {
    padding-top: 100px;
    height: 300vh;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }
}

@media(min-width:767px) {
    .about-section-section {
        height: 500vh;
    }
}

.pad-top {
    padding-top: 100px;
}

.pad-bot {
    padding-bottom: 100px;
}

.pad-top-2 {
    padding-top: 200px;
}

.pad-bot-2 {
    padding-bottom: 200px;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 14px;
    border: 1px solid rgba(255,255,255,0);
    border-radius: 100% !important;
    font-size: 40px;
    color: #660000;/* #506A85; */
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #cc0000;
    background-color: #f2f2f2;
    border-color: #E6E9ED;
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.project_icons{
    width: 50px;
    height: auto;
    margin-right: 2.5%;
    padding: 10px 0px;
}

.desaturate{
    -webkit-filter: grayscale(75%);
}

.project_icons:focus,
.project_icons:hover{
    -webkit-filter: grayscale(0%);
}

.breadcrumb{
    font-size: 14px;
    font-weight: 400;
    background-color: inherit;
    color: #ccc;
    padding: 0px;
    list-style: none;
    border-radius: 0px;
}

.background-img{
    /* background-image: url(../images/port_bg.gif); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}